<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["MetaDescription"]">
    <link rel="canonical" href="@ViewData["CanonicalUrl"]">
    <meta property="og:locale" content="fa_IR">
    <meta property="og:type" content="article">
    <meta property="og:title" content="@ViewData["Title"]">
    <meta property="og:description" content="@ViewData["MetaDescription"]">
    <meta property="og:url" content="@ViewData["CanonicalUrl"]">
    <meta property="og:site_name" content="موسسه پرستاری در منزل همراه طب">
    <meta property="og:image" content="@ViewData["Image"]">
    <meta property="og:image:width" content="@ViewData["ImageWidth"]">
    <meta property="og:image:height" content="@ViewData["ImageHeight"]">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Website.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Css", required: false)
</head>

<body>
    <partial name="Header"></partial>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
            <div class="btn-float-call">
                <div class="float-call-icon"></div>
            </div>
        </main>
    </div>
    <partial name="Footer"></partial>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
