@model Website.Models.HomeViewModel
@{
    ViewData["Title"] = "خدمات پرستاری در منزل [شبانه روزی] ✅ موسسه همراه طب";
}

<div class="home-banner">
    <div class="ellipse"></div>
    <div class="sign"></div>
    <div class="row justify-content-between home-banner-content">
        <div class="right-col col-md-6 col-sm-12">
            <h1 class="heading1">
                مرکز <span class="heading1-highlight">خدمات پرستاری</span> در منزل با پرستاران بیمارستان
            </h1>
            <div class="short-desc"><strong>موسسه خدمات پرستاری در منزل همراه طب </strong> ارائه دهنده بهترین و با
                کیفیت ترین <strong>خدمات درمانی، پزشکی و پرستاری در منزل </strong> با اعزام بهترین متخصص و دکتر
                های پایتخت به محل مورد نظر شما عزیزان.</div>
            <div class="long-desc">موسسه پرستاری همراه طب با تهیه و تدارک کلیه تجهیزات پزشکی ، وسایل بیمارستانی و مصرفی مورد
                نیاز بیمار در
                منزل یا بیمارستان و نیز با بهرمندی از آمبولانس‌های کددار و معمولی به همراه ارائه تمام خدمات پرستاری ،
                فیزیوتراپی ، پزشکی ، مراقبتی و… در منزل افتخار خدمت به خانواده ها در تمام نقاط: بیمارستان ، مراکز خصوصی
                ، دولتی و شخصی در تهران را دارد.</div>
            <div class="d-flex">
                <a asp-area="" asp-controller="Service" asp-action="Index" class="btn btn-request-service">
                    <span class="request-service-icon"></span><span class="request-service-text">ثبت درخواست
                        خدمات</span></a>
                <button class="btn btn-free-council"><span class="free-council-icon"></span><span
                        class="free-council-text">مشاوره
                        رایگان</span></button>
            </div>
        </div>
        <div class="col-md-5 col-sm-12 banner-image">
            <img src="/image/banner.webp" />
        </div>
    </div>
</div>
<div class="home-services">
    <div class="home-services-title">
        <div class="col-12 col-md-7">
            <h2>خدمات پزشکی و پرستاری</h2>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
        </div>
        <div class="col-12 col-md-5">
            <a asp-area="" asp-controller="Blog" asp-action="Index" class="btn btn-all-services"><span class="all-services-text">مشاهده همه خدمات</span><span class="my-icon arrow-left"></span></a>
        </div>
    </div>
    <div class="row justify-content-between service-items-row">
        @for (int i = 0; (i < 3 && i < Model.LastSixDuties.Count); i++)
        {
            <div class="service-item col-12 col-md-4">
                <div class="service-label">نیروی تخصصی</div>
                <img src="/image/hospital.png" />
                <h2>@Model.LastSixDuties[i].Title</h2>
                <p>@Html.Raw(Model.LastSixDuties[i].BodyOverview)</p>
                <button class="btn btn-service-info"><span class="service-info-text">بررسی و ثبت درخواست</span><span class="arrow-left-icon"></span></button>
            </div>
        }
    </div>
    @if (Model.LastSixDuties.Count > 3)
    {
        <div class="row justify-content-between service-items-row">
            @for (int i = 3; (i < 6 && i < Model.LastSixDuties.Count); i++)
            {
                <div class="service-item col-12 col-md-4">
                    <div class="service-label">نیروی تخصصی</div>
                    <img src="/image/hospital.png" />
                    <h2>@Model.LastSixDuties[i].Title</h2>
                    <p>@Html.Raw(Model.LastSixDuties[i].BodyOverview)</p>
                    <button class="btn btn-service-info"><span class="service-info-text">بررسی و ثبت درخواست</span><span class="arrow-left-icon"></span></button>
                </div>
            }
        </div>
    }
</div>

<div class="home-numerical-report">
    <div class="numerical-report-title">
        <div class="col-12 col-md-6">
            <h2>تجربه‌ی متخصصین ما در یک نگاه</h2>
        </div>
        <div class="col-12 col-md-6">
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه میباشد.</p>
        </div>
    </div>
    <div class="numerical-report-body">
        <div class="numerical-report-item col-12 col-md-3">
            <div class="ht-card patient-done">
                <div class="count">+2584</div>
                <h2>بیمار را تا کنون درمان کرده‌ایم!</h2>
                <p>تعداد بیماران بهبود یافته در موسسه همراه طب</p>
            </div>
        </div>
        <div class="numerical-report-item col-12 col-md-3">
            <div class="ht-card folder">
                <div class="count">+2584</div>
                <h2>پرونده پرستاری ثبت کرده‌ایم!</h2>
                <p>تعداد درخواست‌های ثبت شده تا کنون</p>
            </div>
        </div>
        <div class="numerical-report-item col-12 col-md-3">
            <div class="ht-card nurse">
                <div class="count">+2584</div>
                <h2>سال تجربه میانگین پرستاران ما!</h2>
                <p>میانگین تجربه پرستاران ما بر حسب سال</p>
            </div>
        </div>
    </div>
</div>

<div class="home-trust-reason">
    <div class="trust-reason-title">
        <div class="col-12 col-md-6">
            <h2>چرا باید ما را انتخاب کنید؟</h2>
        </div>
        <div class="col-12 col-md-6">
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه میباشد.</p>
        </div>
    </div>
    <div class="trust-reason-body">
        <div class="trust-reason-item col-12 col-md-3">
            <div class="ht-card history">
                <div class="background">
                    1
                </div>
                <img src="~/image/globe.png"/>
                <h2>سابقه</h2>
                <p>بیش از یک دهه سابقه فعالیت در زمینه ارائه خدمات و مراقبتهای بالینی در منزل با کادر مجرب پزشکی و پرستاری بیمارستانی با بیش از ۵ سال تجربه.</p>
            </div>
        </div>
        <div class="trust-reason-item col-12 col-md-3">
            <div class="ht-card quality">
                <div class="background">
                    2
                </div>
                <img src="~/image/award.png" />
                <h2>کیفیت</h2>
                <p>اعزام پزشکان، فیزیوتراپیست ها، پرستاران و مراقبین مجرب و متعهد، مطابق با استانداردهای علمی روز و قوانین و مقررات جاری کشور.</p>
            </div>
        </div>
        <div class="trust-reason-item col-12 col-md-3">
            <div class="ht-card trust">
                <div class="background">
                    3
                </div>
                <img src="~/image/thumbs-up.png" />
                <h2>اعتماد</h2>
                <p>مراقبت و پرستاری از سالمند، کودک و یا بیمار شما امر خطیری است که مرکز پرستاری همراه طب با سابقه چندین ساله اعتماد کاربران خود را جلب نموده است.</p>
            </div>
        </div>
    </div>
</div>

@*<div class="home-customer-comments">
    <div class="customer-comments-title">
        <div class="col-12 col-md-6">
            <h2>نظرات کاربران درباره خدمات ما</h2>
        </div>
        <div class="col-12 col-md-6">
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه میباشد.</p>
        </div>
    </div>
    <div class="customer-comments-body">
        <div class="customer-comment col-12 col-md-3">
            <div class="ht-card">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
            </div>
        </div>
        <div class="customer-comment col-12 col-md-3">
            <div class="ht-card">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
            </div>
        </div>
        <div class="customer-comment col-12 col-md-3">
            <div class="ht-card">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
            </div>
        </div>
    </div>
</div>
*@

                
<div class="home-request-now">
    <div class="request-now-body">
        <h2 class="title">همین حالا درخواست خود را ثبت کنید!</h2>
        <p class="description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
        <form>
            <div class="row">
                <div class="col-12 col-md mt-4">
                    <select class="form-select" aria-label="انتخاب نوع خدمت">
                        <option selected>انتخاب نوع خدمت</option>
                        <option value="1">سرم تراپی</option>
                        <option value="2">تزریقات</option>
                        <option value="3">وصل سوند</option>
                    </select>
                    <span class="fa fa-envelop"></span>
                </div>
                <div class="col-12 col-md mt-4">
                    <input type="text" class="form-control" placeholder="نام و نام خانوادگی ">
                </div>
                <div class="col-12 col-md mt-4">
                    <input type="tel" class="form-control" placeholder="شماره تماس">
                </div>
                <div class="col-12 col-md mt-4 text-center">
                    <button type="submit" class="btn btn-primary">ثبت درخواست</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="home-contact-us">
    <div class="contact-us-body">
        <div class="col-12 col-md-5 title">
            <h2>راه‌های ارتباطی با ما</h2>
            <p>شنبه تا چهارشنبه از ساعت ۸ صبح تا ۵ بعد از ظهر، و پنجشنبه از ساعت ۸ صبح تا ۲ بعد از ظهر درخدمت شما هستیم...</p>
        </div>
        <div class="col-12 col-md-7 row">
            <div class="col-12 col-md-6 details-card">
                <div class="icon-container"><img src="/image/phone.svg" class="icon" /></div>
                <div class="details">
                    <div>شماره تماس</div>
                    <a href="tel:09196583880">09196583880</a>
                </div>
            </div>
            <div class="col-12 col-md-6 details-card">
                <div class="icon-container"><img src="/image/live support agent headset.svg" class="icon" /></div>
                <div class="details">
                    <div>پشتیبانی</div>
                    <a href="tel:09196583880">09196583880</a>
                </div>
            </div>
            <div class="col-12 col-md-6 details-card">
                <div class="icon-container"><img src="/image/mail.svg" class="icon" /></div>
                <div class="details">
                    <div>ایمیل</div>
                    <a href="mailto:milad@gmail.com">milad@gmail.com</a>
                </div>
            </div>
            <div class="col-12 col-md-6 details-card">
                <div class="icon-container"><img src="/image/map-pin.svg" class="icon" /></div>
                <div class="details">
                    <div>آدرس</div>
                    <a>مشاهده موقیعت مکانی</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-latest-blogs">
    <div class="latest-blogs-title">
        <div class="col-12 col-md-7">
            <h3>آخرین مقالات منتشر شده</h3>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
        </div>
        <div class="col-12 col-md-5">
            <a class="btn btn-all-blogs" asp-area="" asp-controller="Blog" asp-action="Index"><span class="all-blogs-text">مشاهده همه مقالات</span><span class="my-icon arrow-left"></span></a>
        </div>
    </div>
    <div class="latest-blogs-body">

        @for (int i = 0; (i < 3 && i < Model.LastTreeBlogs.Count); i++)
        {
            <div class="latest-blogs-item col-12 col-md-3">
                <a href="@Model.LastTreeBlogs[i].Url">
                    <div class="lb-card" style="background-image:linear-gradient(180deg, rgba(0, 0, 0, 0) 42.4%, rgba(0, 0, 0, 0.8) 100%), url('/image/blog-image.webp')">
                        <div class="blog-title">
                            @Model.LastTreeBlogs[i].Title
                        </div>
                        <div class="blog-details">
                            <div class="blog-date">
                                <img src="~/image/calendar.svg" />
                                <span> @Model.LastTreeBlogs[i].DaysAgoString</span>
                            </div>
                            <div class="blog-view">
                                <img src="~/image/eye.svg" />
                                <span>@Model.LastTreeBlogs[i].FormatedViews بازدید</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
